:root{
    --dm-bg: #2e2e2e;
    --dm-bg-2: #414040;
    --dm-primary-clr: #ffffff;
    --dm-secondary-clr: #e0c798;
    --dm-border-clr: #6e4802;

    --dm-submit-button-gradient:linear-gradient(45deg, #825605 10%, #b68a3a);

}

.dark-mode {
    background: var(--dm-bg);
    color: var(--dm-primary-clr);

}

.dark-mode .theme-switch-button{
    color: white;
    
}

.dark-mode .highlight-word{
    color:var(--dm-secondary-clr);

}

.dark-mode a{
    color: var(--dm-secondary-clr);
    transition: all var(--transition-time) ease-in-out;

}

.dark-mode a:hover{
    color: var(--dm-primary-clr);

}

.dark-mode input, .dark-mode select{
    background: rgb(88, 88, 88);
    border-color:var(--dm-bg);

}

.dark-mode input::placeholder, .dark-mode select, .dark-mode select option{
    color: rgb(212, 212, 212);

}

.dark-mode .input-control:focus {
    outline: none;
    border: 1px solid var(--dm-secondary-clr);
    color: var(--dm-primary-clr);

}

.dark-mode aside, .dark-mode .section-top, .dark-mode .section-bottom{
    background: var(--dm-bg-2);

}

.dark-mode .button-submit button{
    background-image: var(--dm-submit-button-gradient);
    color: var(--dm-primary-clr);
    border-color: var(--dm-border-clr);
    
}

.dark-mode .button-submit button:hover{
    color: var(--dm-secondary-clr);
    border-color: var(--dm-secondary-clr);
    background: transparent;

}

.dark-mode .selected, .dark-mode #options-list li:hover{
    color: var(--dm-secondary-clr);
    background: var(--dm-bg);
    border-color: var(--dm-secondary-clr);
    
}

.dark-mode .error-text p {
    color: rgb(151, 1, 1);

}

.sucess-text p {
    color: rgb(1, 151, 1);
    
}   
