:root{
    --default-font: "Open Sans", sans-serif;

    --bg-clr: white;
    --primary-clr: #a56b00;
    --secondary-clr: #744e07;

    --submit-button-gradient: linear-gradient(45deg, #a56b00 60%, #dab36c);

    --transition-time: 0.3s;

    --border-radius: 10px;

    --input-border-clr: darkgrey;

}

*{
    margin: 0;
    padding: 0;

}

svg{
    width: 35px;

}

body {
    font-family: var(--default-font);

}

h1:not(.content-bottom){
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

}


button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    border: 1px solid var(--primary-clr);
    background: var(--submit-button-gradient);
    color:var(--bg-clr);
    
    transition: all var(--transition-time) ease-in-out;

}

button:hover{
    cursor: pointer;

}

input{
    border: 1px solid var(--input-border-clr);
    transition: all var(--transition-time) ease-in-out;

}

input:focus, select:focus{
    outline: none;
    border: 1px solid var(--primary-clr);

}

a{
    color: var(--primary-clr);
    text-decoration: none;
    font-size: 1.1em;

}

a:hover{
    color: var(--secondary-clr);

}

.highlight-word{
    color: var(--primary-clr);

}

.hidden{
    display: none;

}

.right-content-img{
    display: none;

}

.content{
    margin: 5vw;
    margin-block: 2.3vw;

}

.input-control{
    transition: border-color 0.3s ease;

}

.input-control:focus{
    outline: none;
    border: 1px solid var(--primary-clr);
    box-shadow: 1px 5px 10px rgba(73, 42, 7, 0.486);

}

::selection {
    background-color: #f0cea8;
    color: var(--bg-clr);

}

.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 2em;
    
}

.content-bottom{
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.content-bottom-forms form{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.content-bottom-forms .forms-item{
    width: 100%;
    box-sizing: border-box;

}

.forms-item {
    display: flex;
    flex-direction: column;
    
    gap: 0.3em;
    font-weight: bold;

}

.forms-item label{
    display: flex;
    gap: 0.3em;

}

.forms-item input, .forms-item select{
    border-radius: var(--border-radius);
    border: 1px solid var(--input-border-clr); 

    transition: all var(--transition-time) ease-in-out;

}

.forms-item input:hover, .forms-item select:hover, .search-bar input:hover, .filter-bar select:hover{
    box-shadow: 1px 5px 10px rgba(73, 42, 7, 0.178);
    
}


.search-bar, .filter-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    

}

.button-submit{
    display:flex;
    align-items: center;
    gap: 1em;

}

.section-bottom{
    display:flex;
    flex-direction: column;
    gap: 3em;
    
}

.search-bar input, .filter-bar select, .button-submit button, .section-top, .section-bottom, .filter-button{
    border-radius: var(--border-radius);
    transition: all var(--transition-time) ease-in-out;
}

.search-bar input, .filter-bar select, .filter-bar button{
    padding: 1.2em;
    border-color: var(--input-border-clr);
    cursor: pointer;
    width: 100%;


}

.filter-bar button{
    padding: 0.6em;
    
}

.filter-button{
    font-size: 1.1em;

}

.theme-switch-button{
    background: transparent;
    border: none;
    transition: all var(--transition-time) ease-in-out;
    color: black;
    
}

#church-symbol{
    width: 65px;
    transition: all var(--transition-time) ease-in-out;

}

#church-symbol:hover, .theme-switch-button:hover{
    transform: scale(1.05);
    cursor: pointer;

}

.forms-checkbox{ /* Mudar a cor da check box */
    input[type="checkbox"] {
        accent-color: var(--primary-clr);
        
    }

}

.button-submit button:hover, .filter-button:hover{
    background: transparent;
    color: var(--primary-clr);
    border: 1px solid var(--primary-clr);

}

.error-text{
    text-align: center;
}

.error-text p {
    color: red;

}


@media (min-width: 1024px){
    .content{
        width: 50vw;
        align-items: baseline;

    }

    main{
        display: flex;
        flex-direction: row;

    }

    .right-content-img{
        display: block;
        width: 55vw;
        height: 100vh;

    }

    .content-bottom-forms label{
        font-size: 1.2em;

    }

    

}