a{
    font-size: 1.1em;

}

button{
    padding: 1em;
    border-radius: var(--border-radius);
    font-size: 1.2em;
    max-width: 200px;
    margin: auto 0;

}

h1{
    font-size: 1.8em;

}

#forms-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.forms-checkbox label{
    margin-left: 0.5em;

}

.forms-item input{
    padding: 1.5em;

}

.button-submit{
    margin: 0 auto;

}

@media (min-width: 1024px){  
    .right-content-img{
        background: url(images/login-bg.png) center center;
        
    }
}