button{
    padding: 1em;
    border-radius: var(--border-radius);
    font-size: 1.2em;
    max-width: 200px;
    margin: auto 0;

}

.content-bottom-text{
    display: flex;
    flex-direction: column;
    gap:1em;

    margin-bottom: 3em;

}

.button-submit{
    margin: 0 auto;

}

.forms-item input{
    padding: 1.5em;
}

@media (min-width: 1024px){
    .right-content-img{
        background: url(images/forgot-password-bg.png) center bottom;

    }

}